{:deps
 {instaparse/instaparse {:mvn/version "1.4.10"}
  potemkin/potemkin     {:mvn/version "0.4.5"}
  pretty/pretty         {:mvn/version "1.0.5"}}

 :paths
 ["src" "resources"]

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                  :sha     "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
                       org.clojure/data.json     {:mvn/version "2.0.2"}}
         :main-opts   ["-m" "cognitect.test-runner"]}}}
